<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>controller.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEmploy</servlet-name>
        <servlet-class>controller.NewEmploy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpList</servlet-name>
        <servlet-class>controller.EmpList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmp</servlet-name>
        <servlet-class>controller.EditEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLogin</servlet-name>
        <servlet-class>controller.EmpLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTime</servlet-name>
        <servlet-class>controller.InsertTime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEmploy</servlet-name>
        <url-pattern>/NewEmploy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpList</servlet-name>
        <url-pattern>/EmpList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmp</servlet-name>
        <url-pattern>/EditEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLogin</servlet-name>
        <url-pattern>/EmpLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTime</servlet-name>
        <url-pattern>/InsertTime</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
